* {
    color: red;
}

body {
    background-color: lightslategrey;
    background-image: url("../images/background-img.jpg");
}
h1 {
    color: darkgoldenrod;
}
h2 {
    color: rgb(0, 255, 0);
}
p {
    font-weight: bold;
}
div {
    background-color: rgba(108, 126, 187, 0.575);
}
