body {
    background-color: lightslategrey;
    background-image: url("../images/background-img.jpg");
}

/* body {
    background-color: lightslategrey;
    background-image: url("/assets/images/background-img.jpg");
} */
